.myChannel {
	.wrapper {
		@apply mb-3 mx-7 w-3/4 h-14 flex justify-between items-center;
		.aboutChannel {
			@apply flex items-center;
			> div:nth-child(2) {
				@apply ml-7;
				h2 {
					@apply text-xl font-medium overflow-hidden;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}
		.avatar {
			svg {
				@apply rounded-3xl;
				min-width: 45px;
				min-height: 45px;
				max-width: 45px;
				max-height: 45px;
				border: 3.5px solid transparent;
				outline: 2px solid #888;
				box-shadow: 0 0 2px white;
			}
		}
		.profile {
			@apply flex items-center;
			h2 {
				@apply mr-3;
			}
			svg {
				@apply w-7 h-7 p-1.5 rounded-lg cursor-pointer;
				transition: all 0.2s ease-in-out;
				&:hover {
					@apply bg-gray-600;
				}
				&:active {
					@apply bg-gray-700;
				}
			}
			> div {
				@apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center invisible opacity-0 z-10;
				transition: all .3s ease-in-out;
				&.active {
					@apply visible opacity-100;
				}
			}
		}
	}
	.btnExit {
		@apply flex items-center justify-center px-4 py-2.5 rounded-lg text-sm font-medium bg-gray-700 cursor-pointer;
		min-width: 30%;
		transition: all 500ms ease-in-out;
		&:hover {
			@apply bg-gray-800;
		}
		&:active {
			@apply bg-gray-900;
		}
	}
	.description {
		@apply my-9;
		p {
			@apply mx-7 w-3/4 overflow-hidden;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
	}
}

@media screen and (max-width: 768px) {
	.myChannel {
		.wrapper {
			@apply w-11/12;
		}
	}
}

@media screen and (max-width: 576px) {
	.myChannel {
		.wrapper {
			@apply h-28 flex flex-col items-start justify-between;
			.btnExit {
				@apply w-2/5;
			}
		}
	}
}