.channel {
	.wrapper {
		@apply mb-3 mx-7 h-14 flex justify-between items-center;
		width: 50%;
		.aboutChannel {
			@apply flex;
			> div:nth-child(2) {
				@apply ml-3;
				h2 {
					@apply font-medium overflow-hidden;
					
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
				h4 {
					@apply text-xs text-gray-500 font-medium;
				}
			}
		}
		.btnSubscribe {
			@apply flex items-center justify-center px-5 py-2.5 rounded-lg text-sm font-medium cursor-pointer bg-red-600;
			transition: all 500ms ease-in-out;
			span {
				@apply ml-1.5;
			}
			width: 30%;
			height: 70%;
			&:hover {
				@apply bg-red-700;
			}
		}
	}
	.description {
		@apply mb-9;
		p {
			@apply mx-7 w-1/2 overflow-hidden;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
	}
}
