.catalogItem {
	@apply relative bg-secondary rounded-xl;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	&:hover {
		transform: scale(1.05);
	}
	> img,
	video {
		@apply rounded-t-xl w-full;
	}
	.content {
		@apply w-full h-32 p-3 bg-secondary shadow-xl rounded-b-xl;
		h2 {
			@apply mb-2.5 text-sm text-gray-500 font-semibold overflow-hidden;
			transition: color 300ms ease-in-out;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			&:hover {
				@apply text-gray-400;
				text-decoration: underline;
			}
			font {
				@apply text-sm text-gray-500 font-semibold;
			}
		}
		h1 {
			@apply h-11 mb-0.5 font-semibold leading-5 overflow-hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		h3 {
			@apply inline-block mr-3 text-xs text-gray-500 font-semibold;
			font {
				@apply inline-block mr-0.5 text-xs text-gray-500 font-semibold;
			}
		}
	}
	.overlays {
		@apply absolute top-0 left-0 w-full;
		height: 55%;
		h4 {
			@apply absolute top-1.5 right-1.5 py-1 px-1.5 bg-black bg-opacity-60 rounded-md text-xs;
		}
		img {
			@apply absolute -translate-y-1/4 right-4;
			top: 90%;
		}
	}
}
