.avatar {
	img,
	svg {
	}
	&.default {
		img,
		svg {
			@apply mb-2 rounded-3xl;
			min-width: 45px;
			min-height: 45px;
			max-width: 45px;
			max-height: 45px;
			border: 3.5px solid transparent;
			outline: 1.5px solid #888;
			box-shadow: 0 0 3px white;
		}
	}
	&.profile {
		img,
		svg {
			@apply rounded-3xl;
			min-width: 40px;
			min-height: 40px;
			max-width: 40px;
			max-height: 40px;
			border: 3px solid transparent;
			outline: 1px solid #888;
			box-shadow: 0 0 2px white;
		}
	}
	&.subscription {
		img,
		svg {
			@apply rounded-xl;
			min-width: 40px;
			min-height: 40px;
			max-width: 40px;
			max-height: 40px;
			border: 3px solid transparent;
			outline: 1px solid #888;
			box-shadow: 0 0 2px white;
		}
	}
	&.comment {
		img,
		svg {
			@apply mb-2 rounded-3xl;
			min-width: 30px;
			min-height: 30px;
			max-width: 30px;
			max-height: 30px;
			border: 3.5px solid transparent;
			outline: 1.5px solid #888;
			box-shadow: 0 0 3px white;
		}
	}
}
