.channel {
	.wrapper {
		@apply w-3/4 mb-3 mx-7 h-14 flex justify-between items-center;

		.about {
			@apply flex;

			.info {
				@apply ml-7;

				h2 {
					@apply font-medium overflow-hidden;
					
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}

				h4 {
					@apply text-xs text-gray-500 font-medium;
				}
			}

			.options {
				@apply flex justify-between gap-6;
	
				.btnExit {
					@apply flex items-center justify-center px-10 py-2.5 rounded-lg text-sm font-medium bg-gray-700 cursor-pointer transition duration-500 hover:bg-gray-800 active:bg-gray-900;
				}
			}
		}
	}

	.description {
		@apply mb-9;

		p {
			@apply mx-7 w-1/2 overflow-hidden;

			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
	}
}

