.channel {
	.wrapper {
		@apply w-3/4 mb-3 mx-7 h-14 flex justify-between items-center;
		.aboutChannel {
			@apply flex;
			> div:nth-child(2) {
				@apply ml-3;
				h2 {
					@apply font-medium overflow-hidden;
					
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
				h4 {
					@apply text-xs text-gray-500 font-medium;
				}
			}
		}
	}
	.description {
		@apply mb-9;
		p {
			@apply mx-7 w-1/2 overflow-hidden;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}
	}
}

@media screen and (max-width: 768px) {
	.channel {
		.wrapper {
			@apply w-11/12;
		}
	}
}

@media screen and (max-width: 576px) {
	.channel {
		.wrapper {
			@apply h-28 mb-8 flex flex-col items-start justify-between;
		}
	}
}

