.profile {
	@apply grid bg-transparent;
	justify-items: end;
	align-items: end;
	.avatar {
		@apply opacity-60 rounded-3xl cursor-pointer;
		min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
		border: 3.5px solid transparent;
    outline: 2px solid #888;
    box-shadow: 0 0 3px white;
	}
}
.formWrapper {
	@apply fixed top-0 left-0 right-0 bottom-0 invisible opacity-0 cursor-pointer;
	transition: all 300ms ease-in-out;
	&.active {
		@apply visible opacity-100;
	}
}

@media screen and (max-width: 1380px) {
	.profile {
		@apply w-1/5;
	}
}

@media screen and (max-width: 1200px) {
	.profile {
		@apply w-1/3;
	}
}

