.commentItem {
	@apply flex p-2 mb-2 rounded-lg cursor-pointer;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;
	.avatar {
		@apply opacity-60 rounded-3xl cursor-pointer;
		min-width: 36px;
		min-height: 36px;
		max-width: 36px;
		max-height: 36px;
		border: 3.5px solid transparent;
		outline: 2px solid #888;
		box-shadow: 0 0 3px white;
	}
	.content {
		@apply w-full pl-3;
		h3 {
			@apply pb-1 text-sm font-medium;
		}
		p {
			@apply text-sm font-normal text-gray-400;
			font {
				@apply text-sm font-normal text-gray-400;
			}
		}
		> div {
			@apply flex justify-between items-end;
			h5 {
				@apply text-xs text-gray-300;
			}
			svg {
				@apply w-6 h-6 ml-auto p-1 mt-1 rounded-lg opacity-0 shadow-md cursor-pointer;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	&:hover {
		@apply shadow;
		transform: translateY(-1px);
		@apply bg-gray-600;
		.content {
			svg {
				@apply opacity-60;
				&:hover {
					@apply bg-slate-700 opacity-100 shadow;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.commentItem {
		.content {
			> div {
				svg {
					@apply opacity-60;
				}
			}
		}
	}
}
