.commentItem {
	@apply w-11/12 flex m-0.5 mb-4;
	.avatar {
		@apply opacity-60 rounded-3xl cursor-pointer;
		min-width: 36px;
		min-height: 36px;
		max-width: 36px;
		max-height: 36px;
		border: 3.5px solid transparent;
		outline: 2px solid #888;
		box-shadow: 0 0 3px white;
	}
	.content {
		@apply w-full pl-3;
		> div {
			@apply flex justify-between;
			h3 {
				@apply w-3/5 pb-1 text-sm font-medium;
			}
			h5 {
				@apply w-1/3 text-xs text-gray-400;
			}
		}
		p {
			@apply text-sm font-normal text-gray-400;
			font {
				@apply text-sm font-normal text-gray-400;
			}
		}
	}
}
