.discover {
  @apply h-96 mb-10 mx-7 grid rounded-xl overflow-hidden;

  grid-template-columns: 2fr 1fr;
  column-gap: 1.5em;
}

@media screen and (max-width: 1400px) {
  .discover {
    grid-template-columns: 1fr 0;
  }
}

@media screen and (max-width: 992px) {
  .discover {
    @apply h-0 mb-0;

    grid-template-columns: 0 0;
  }
}
