.catalog {
	@apply mb-10 mx-7;
	> h1 {
		@apply mb-7 text-2xl font-semibold;
	}
	.content {
		@apply grid justify-between justify-items-center;
		grid-template-columns: repeat(4, 23.8%);
		row-gap: 1.5em;
	}
}

@media screen and (max-width: 1400px) {
	.catalog {
		.content {
			grid-template-columns: repeat(3, 31.4%);
		}
	}
}

@media screen and (max-width: 992px) {
	.catalog {
		.content {
			grid-template-columns: repeat(2, 48%);
		}
	}
}

@media screen and (max-width: 768px) {
	.catalog {
		.content {
			grid-template-columns: repeat(1, 90%);
			justify-content: center;
		}
	}
}
