.registerForm {
	@apply absolute top-16 right-10 w-80 pt-4 pb-10 text-center bg-gray-800 rounded-lg shadow-md;
	h2 {
		@apply mt-3 mb-5 text-2xl font-semibold;
		font {
			@apply mb-4 text-2xl font-semibold;
		}
	}
	form {
		@apply w-4/5 mx-auto;
		input {
			@apply w-11/12 h-9 mb-3 px-2 text-gray-700 font-medium rounded-md border-none outline-none;
      &.active {
        outline: 1px solid red
      }
		}
		button {
			@apply w-4/5 h-9 my-2 bg-green-700 rounded-md;
			transition: all 300ms ease-in-out;
			&:hover {
				@apply bg-green-800;
			}
			&:active {
				@apply bg-green-900;
			}
		}
		span {
			@apply block text-gray-400;
			&:last-child {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
