.content {
	.mainInfo {
		@apply grid;

		grid-template-columns: 8fr 5fr;
		column-gap: 1em;

		.leftContent {
			.aboutChannel {
				@apply flex mb-3;

				> div:nth-child(2) {
					@apply ml-3;

					h2 {
						@apply font-medium cursor-pointer;

						&:hover {
							text-decoration: underline;
						}
					}

					h4 {
						@apply text-xs text-gray-500 font-medium;

						font {
							@apply text-xs text-gray-500 font-medium;
						}
					}
				}
			}
			.descriptionChannel {
				h1 {
					@apply text-2xl font-semibold mb-3;
				}
			}
		}
		.rightContent {
			.buttons {
				@apply flex justify-between;

				.btnLike {
					@apply flex items-center justify-center px-4 py-2.5 bg-purple-700 rounded-lg text-sm font-medium cursor-pointer;

					transition: all 500ms ease-in-out;
					&:hover {
						@apply bg-purple-800;
					}

					&:active {
						@apply bg-purple-900;
					}

					&.liked {
						@apply bg-gray-700;

						&:hover {
							@apply bg-gray-800;
						}

						&:active {
							@apply bg-gray-900;
						}
					}

					span {
						@apply ml-1.5;
					}
				}
			}

			.numbers {
				@apply mt-8;

				div {
					@apply mb-5 flex items-center opacity-50;

					h4 {
						@apply ml-1.5 text-xs;
					}
				}
			}
		}
	}
}

.description {
	@apply w-full;

	p {
		@apply text-sm font-medium text-gray-500;
		
		font {
			@apply text-sm font-medium text-gray-500;
		}
	}
}

@media screen and (max-width: 1400px) {
	.content {
		.mainInfo {
			.rightContent {
				.buttons {
					@apply pl-12 flex-col;
					.btnLike {
						@apply mt-4;
					}
				}
				.numbers {
					@apply ml-12;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.content {
		.mainInfo {
			.rightContent {
				.buttons {
					.btnLike {
						&:active {
							@apply bg-purple-800;
							&.btnLiked {
								&:active {
									@apply bg-gray-800;
								}
							}
						}
					}
				}
			}
		}
		.description {
			@apply mb-20;
		}
	}
}

@media screen and (max-width: 768px) {
	.content {
		.mainInfo {
			.rightContent {
				.buttons {
					@apply pl-6;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.content {
		.mainInfo {
			@apply flex flex-col;
			.leftContent {
				.descriptionChannel {
					h1 {
						@apply text-xl;
					}
				}
			}
			.rightContent {
				@apply flex flex-row-reverse justify-between items-center;
				.buttons {
					@apply w-8/12 pl-0;
				}
				.numbers {
					@apply ml-0;
				}
			}
		}
	}
}
